.Book
{ 
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.Book h2{
    margin: 0px 20px;
    
}

.bookmark-list{
    display: flex;
    flex-wrap: wrap;
    margin: 0px 20px;
    justify-content: center;
}